<header>
  <div class="header container">
    <a href="../index.html"><img class="logo" src="./img/Logo.png" alt="Plerdy logo"></a>
    <nav>
      <ul class="nav-list">
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#cases">Use Cases</a></li>
        <li><a href="#demo">Book a Demo</a></li>
      </ul>
    </nav>
    <div class="contacts">
      <a href="#signIn">Sign In</a>
      <button  id="contacts">Contact sales</button>
    </div>
    <div class="burger-menu" id="burger-menu">
      <span></span>
    </div>
  </div>
    
   </header>