<section>
  <div class="hero container">
    <div class="hero-text-block">
      <div class="hero-text-box">
        <h1 class="hero-title">How to do a Website Audit to Improve SEO & Conversions</h1>
        <p class="hero-text">Usability auditing with the Plerdy tool is a comprehensive expert assessment of your
          website based on a profound study of user behavior registered on it. Plerdy will provide you with crucial data
          based on which you will be able to run an efficient usability audit of your website, identify and fix SEO
          issues, and subsequently lead it to higher positions in search.</p>
        <p class="hero-subtitle">Thus, you'll compile a list of flaws in your website interface, navigation, and
          conversion path that can eventually affect its micro and macro conversion rates.</p>
        <button id="contacts">Run the Plerdy tool</button>
      </div>
      <div class="hero-trusted">
        <p class="hero-trusted-title">Trusted by some of the world's largest enterprises</p>
        <ul class="hero-trusted-logos">
          <li><img src="./img/softserve.svg" alt="softserve"></li>
          <li><img src="./img/subaru.svg" alt="subaru"></li>
          <li><img src="./img/anextour.svg" alt="anex tour"></li>
          <li><img src="./img/prom.svg" alt="prom"></li>
          <li><img src="./img/ukrposhta.svg" alt="ukrposhta"></li>
        </ul>
      </div>
    </div>
    <div class="hero-img-block">
      <div class="img-box">
        <img class="hero-img" src="./img/hero-img.jpg" alt="Hero image">
        <img class="animated top-img" data-aos="fade-down" data-aos-delay="500"
    data-aos-duration="1000" src="./img/stat-top.svg" alt="stats">
        <img class="animated left-img" data-aos="fade-right" data-aos-delay="1500"
    data-aos-duration="1000" src="./img/stat-left.svg" alt="stats">
        <img class="animated right-img" data-aos="fade-left" data-aos-delay="2500"
    data-aos-duration="1000" src="./img/stat-right.svg" alt="stats">

      </div>

    </div>

  </div>

</section>