<div class="modal-container" id="modal">
    <button class="modal-close" id="close"><img src="./img/close.svg" alt="close"></button>
    <img class="modal-img" src="./img/modal-hero.jpg" alt="operator">
    <div class="left-side">
        <h2 class="modal-title">How to do a Website Audit to Improve SEO & Conversions</h2>
    <p class="modal-text">You will get an SMS with a link to the webinar</p>
    <form class="needs-validation" id="modal-form" novalidate>
        <div>
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" value="" placeholder="Boris Johnson" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div>
            <label for="phone-number" class="form-label">Lable</label>
            <div class="phone-input">
                <img id="flag-icon" src="./img/Flag.svg" alt="ua"/>
                <select id="operator-code">
                    <option value="+380" data-flag="./img/Flag.svg">+380</option>
                    <option value="+86" data-flag="https://flagcdn.com/w20/cn.png">+86</option>
            <option value="+1" data-flag="https://flagcdn.com/w20/us.png">+1</option>
                </select>
                <input type="tel" class="form-control" id="phone-number" value="" placeholder="XX XXX XXXX" required>
            </div>
        </div>
        <div class="valid-feedback">
            Looks good!
        </div>

        <div class="btn-box">
            <button class="modal-btn disabled"  type="submit" >Support</button>
            <button class="modal-btn" type="submit">Contact sales</button>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkPrivacy" required>
            <label class="form-check-label" for="checkPrivacy">
                By sending up? you agree to our <a href="">Conditions</a> and <a href="">Privacy Policy</a>
            </label>
        </div>
        <div class="invalid-feedback">
            You must agree before submitting.
        </div>

    </form>
    <div class="modal-bottom">
        <img src="./img/logo-smart.png" alt="Plerdy logo">
        <p>Powered by <a href="https://www.plerdy.com">Plerdy</a>Plerdy </p>
    </div>
    </div>
    
</div>