.footer{
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-text{
    width: 340px;
    font-size: 12px;
    text-align: center;
    text-wrap: pretty;
    color: var(--primary-text-color);
}
@media only screen and (max-width: 368px) {
  .footer {
    width: 100%;
  }
}
@media only screen and (min-width: 1440px) {
   .footer{
    width: 719px;
    flex-direction: row;
    gap: 20px;
  }

  .footer-text{
    width: 440px;
    text-align: left;
    font-size: 14px;
    line-height: 130%;
  }
}